.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;

  @media only screen and (max-width: 800px) {
    flex-direction: column;
    gap: 0;
  }
}

.innerContainer {
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 34px;

  @media only screen and (max-width: 800px) {
    width: 100%;
    align-items: center;
    padding: 0 5px;
  }
}

.inputBlock {
  max-width: 402px;
  display: flex;
  flex-direction: column;
  gap: 11px;

  h2 {
    margin: 0;
  }

  @media only screen and (max-width: 800px) {
    width: calc(100% - 10px);
  }
}

.helperText {
  color: var(--gray1);
  font-size: 12px;
}

.selectionsContainer {
  display: flex;
  gap: 15px;

  @media only screen and (max-width: 800px) {
    flex-direction: column;
  }
}

.dashboard {
  height: 100hv;
  position: relative;
  left: 170px;

  @media only screen and (max-width: 800px) {
    left: 0;
    padding: 20px;
  }
}


.loginRedirect {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  width: 100%;
  min-height: 100vh;
  
  a {
    color: #4834d4;
    text-decoration: none;
  }
}